[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
gensim = "==3.4.0"
cython = "==0.28.3"
click = "*"
future = "*"
django = "*"

[dev-packages]

[requires]
python_version = "3.6"
